.user-body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
}
html,
body {
    height: 100%;
    position: relative;
}

ul {
    list-style: none;
}
button {
    cursor: pointer;
}
/* NAVIGATION BAR */
.nav-bar {
    background-color: #FFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #486581;
    padding: 5px 0;
    position: fixed;
    z-index: 3;
}

/* navbar done */
.nav-ul-left {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-self: left;
}

.nav-ul-right {
    flex: 1;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-left-header {
    font-size: 35px;
    padding: 0 4%;
}

.nav-right {
    justify-self: flex-end;
    border-style: groove;
    border-width: 0;
    border-radius: 6px;
    color: white;
    padding: 8px;
    margin: 0 8px;
}

.nav-bar button {
    padding: 4px 0;
    margin: 0 6px;
    border-style: groove;
    border-width: 0;
    border-radius: 5px;
    color: #486581;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    cursor: pointer;
}

.nav-bar button:hover,
.nav-bar button:focus {
    font-size: 14px;
    padding: 5px 10px;
    background-color: #0967D2;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
/* footer */
.footer {
    display: flex;
    background: #323F4B;
    padding: 10px;
    color: #fff;
}
.footer-items {
    flex-basis: 30%;
    margin: auto;
}
.year {
    text-align: center
}
/* modal close buttton */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close1 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* body */
.middle-div-body {
    margin-top: 60px;
    padding: 6% 4%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/background-balance-business-583846.jpg');
}
.intro-div {
    background: rgba(0, 0, 0, 0.822);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    flex-basis: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-style: groove;
    border-width: 0;
    border-radius: 6px;
    color: white;
}

.auth-header-text {
    margin: auto;
    padding: 8% 4%;
    border-style: groove;
    border-width: 0;
    border-radius: 6px;
}

.welcome-header {
    font-size: 20px;
    margin:0;
}

.name-header {
    font-size: 60px;
    margin:0;
}

.explain-header {
    font-size: 16px;
}
.auth-header-button {
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.auth-header-button button {
    margin: 0 4px;
    padding: 10px;
    width: 150px;
    border-style: groove;
    border-width: 0;
    border-radius: 4px;
    color: white;
    background-color: #0967D2;
    font-size: 14px;
}
/*  loan request process  */
.bottom-div-body {
    padding: 2%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(217, 226, 236, 0.418);
}

.bottom-div-header p {
    text-align: center;
    font-size: 20px;
    color: #323F4B;
}

.bottom-intro-div {
    flex-basis: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-style: groove;
    border-width: 0;
    border-radius: 6px;
}

.bottom-header-text {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 1%;
    border-style: groove;
    border-width: 0;
    border-radius: 6px;
    justify-content: space-around;
}

.explanatory-text {
    display: flex;
    flex-direction: row;
    flex-basis: 30%;
    border-style: groove;
    border-width: 0;
    border-radius: 6px;
    background-color: #FFFF;
    padding: 1%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}

.explanatory-text i {
    padding: 2px;
    color: #0967D2;
    text-decoration: none;
    font-size: 60px;
    font-style: normal;
    text-decoration-style: solid;
}

.explanatory-text p {
    padding: 2px;
    color: #323F4B;
    font-size: 14px;
    justify-self: center;
    justify-self: baseline;
}
/* signup div */
.auth-div {
    flex-direction: row;
    padding: 1%;
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.705);
}
.auth-form {
    background-color: #0967D2;
    display: flex;
    flex-direction: row;
    margin: auto;
    flex-basis: 30%;
    justify-content: flex-end;
    border-style: groove;
    border-width: 0;
    border-radius: 6px;
}
.form {
    display: flex;
    flex-basis: 100%;
}
.form form {
    display: flex;
    flex-basis: 100%;
}
.auth-input {
    flex-basis: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 4px;
    flex-direction: column;
    border-style: groove;
    border-width: 0;
    border-radius: 6px;
}
.auth-input button {
    padding: 10px;
    margin: auto;
    border-style: groove;
    border-width: 0;
    border-radius: 5px;
    color: white;
    background-color: #0967D2;
    font-size: 14px;
}
.auth-input p {
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 2px;
}
.auth-input label {
    color: black;
}
.auth-input input {
    flex: 1;
    font-size: 25px;
    background-color: rgba(2, 2, 2, 0);
    padding: 2%;
    font-size: 14px;
    border-color: rgb(201, 201, 201);
    border-width: 0 0 2px 0;
}
/* sign up buttons */
.auth-button {
    padding: 6px;
    display: flex;
    flex-direction: row;
}
.auth-state {
    display: flex;
    justify-content: center;
}
.auth-state a,label {
    color: black;
    padding: 6px 0;
}
/* user profile page */
.user-div-body {
    margin-top: 62px;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    background-color: #F0F4F8;
}

.user-div-body a,label {
    color: #243B53;
    padding: 4px;
}

.user-profile {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.user-profile button {
    padding: 10px;
    margin: auto;
    border-style: groove;
    border-width: 0;
    border-radius: 5px;
    color: white;
    background-color: #0967D2;
    font-size: 14px;
    cursor: pointer;
}

.user-data-group {
    padding: 0 4%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.user-all-data {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    border-width: 0;
    border-radius: 6px;
    border-style: solid;
    border-color: rgb(207, 213, 219);
}

/* user private data */
.user-data {
    padding: 6px;
    display: flex;
    flex-direction: row;
    flex-basis: 30%;
}

.user-info {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}

.user-info p {
    padding: 4px;
}
/* user request loan */
.user-loan-input {
    display: flex;
    flex-direction: column;
}

.loan-div {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

.loan-div input {
    flex: 1;
    font-size: 25px;
    background-color: rgba(2, 2, 2, 0);
    height: 30px;
    padding: 1%;
    font-size: 14px;
    color: black;
    border-color: rgb(201, 201, 201);
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
}

.intrest-percent {
    margin: 0;
    font-size: 12px;
    color: #3E4C59;
}
